/* 1. Impor Font Kustom */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/roboto-v48-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/roboto-v48-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/roboto-v48-latin-900.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lora-v36-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/lora-v36-latin-700.woff2') format('woff2');
}

/* 2. Import Tailwind */
@import "tailwindcss";
@import "tw-animate-css";

/* 3. Plugin Tailwind */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@config "../tailwind.config.js";

/* 4. Dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* 5. Theme font */
@theme {
  --font-sans: Roboto, sans-serif;
  --font-serif: Lora, serif;
}

/* 6. Style Input */
.input-text,
.input-textarea,
.input-select {
  @apply block w-full rounded-lg border border-slate-600 bg-white p-3 text-sm text-slate-900 placeholder:text-slate-700 focus:border-blue-500 focus:ring-2 focus:ring-blue-500/50;
}
.input-text:hover,
.input-textarea:hover,
.input-select:hover {
  @apply border-slate-800;
}
.input-checkbox {
  @apply h-4 w-4 rounded border-slate-800 text-blue-700 focus:ring-blue-500;
}

/* 7. Global Typography Fix & Custom Indent */
@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-800 dark:text-slate-200;
    font-family: var(--font-sans);
  }

 
  #article-content p {
    text-indent: 2em; /* Adjust as needed for desired indentation */
  }

  /* Ensure headings are not indented by text-indent. They should always be left-aligned. */
  #article-content h1,
  #article-content h2,
  #article-content h3,
  #article-content h4,
  #article-content h5,
  #article-content h6 {
    text-indent: 0;
    /* Ensure headings are always left-aligned */
    text-align: left !important;
  }
}


.prose {
  max-width: none !important;
}

